datasets/
models/
results
perspective_result
wandb/
work/
sweep/*.yaml
outputs/
multirun/
logs/
config/api/*
scripts/abci
output/
merge/
./*.yaml

__pycache__/
.vscode/
.pytest_cache


*.ipynb
*.txt
*.log
*.zip
./*.sh
Dockerfile*
.DS_Store

!requirements.txt
*.sh.*
